<!DOCTYPE html>
<html lang="en">
   <head>
      <title></title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title><%= category %> Products</title>
   </head>
   <body>
      <h1><%= category %> Products</h1>
      <ul>
         <% for (let p of pro ) { %>
         <li><a href="/products/<%=p._id%>">
            <%= p.name %></a></li>

         <% } %>
      </ul>
   </body>
</html>
